.log-in-form-wrapper{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title,
.title-main{
    color: var(--orange-color);
    font-weight: 700;
    text-align: center;
    font-size: 32px;
    margin-top: 80px;
}

.sign-in,
.create-visit {
    font-family: 'Poppins', sans-serif;
    background-color: var(--blue-color);
    width: 180px;
    border-radius: 4px;
}

.log-in-form-btn{
    margin-top: 80px;
    width: 400px;
}

.modal {
    width: 500px;
    height: 500px;
    margin: 150px auto;
    overflow-y: auto;
    background: var(--white-color);
}

.logout-btn {
    display: block;
    cursor: pointer;
}

/*font-family: 'Open Sans', sans-serif;*/