.card{
    /*width: 250px;*/
    background: rgb(255, 255, 255);
    margin: 15px;
    padding: 10px;
    box-shadow: 4px 4px 4px 4px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.cardInfo{
font-size: 16px;
margin: 4px;
}

.grid-container{
    display: grid;

    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, 300px);
    gap: 15px;
    margin-top: 15px;
}


