.log-in-form-wrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log-in-form{
    width: 100%;
    max-width: 400px;
}

.form__input-wrapper {
  display: flex;
  flex-direction: column;
}

.form__input-wrapper label {
  color: #63aeff;
  margin-top: 20px;
  font-size: 20px;
}

.form__input-wrapper input {
  margin-top: 5px;
  border: 2px solid #ccc;
  font-size: 18px;
  padding: 7px 10px 7px 10px;
}

h1 {
  color: #63aeff;
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
}

.log-in-form button {
  width: 100%;
  padding: 10px 0;
  margin-top: 25px;
  font-size: 20px;
  background-color: #63aeff;
  color: white;
  border: none;
}

.search__form-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.search__form {
  display: flex;
  gap: 20px;
}

input[name="search"] {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-image: url("/img/search_icon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

select {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 12px 20px;
  color: #757575;
}
