.formDoc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    font-size: 16px;
    height: 600px;
}

.lableVisit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    padding: 5px;
    margin-bottom: 15px;
}

input[name="submitBtn"] {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    border-radius: 4px;
    background-color: var(--blue-color);
    color: var(--white-color);
    border-color: var(--blue-color);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[name="fullName"],
input[name="purpose"],
input[name="description"] {
    border-color: var(--blue-color);
}

.closeButton {
    align-self: self-end;
    margin-right: 70px;
}