.header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-bottom: 3px solid var(--blue-color);
}

.header__content-wrapper {
  width: 100%;
  max-width: 1140px;
  box-sizing: border-box;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  cursor: pointer;
}

.header__logo {
  height: auto;
  width: 60px;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo__link {
  display: flex;
  text-decoration: none;
}

.logo__link-text {
  display: flex;
  flex-direction: column;
  color: var(--blue-color);
  font-weight: 700;
  font-size: 34px;
  padding-left: 8px;
}

.logo__link-text span {
  text-decoration: none;
  font-size: 25px;
}

.logo:hover .logo__link-text {
  color: var(--orange-color);
}