:root {
  --blue-color: #63aeff;
  --orange-color: #FF8A65;
  --white-color: white;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-image: url('../img/TaeAugust07.jpg');
  background-size: cover;
}

main {
  min-height: calc(100vh - 30px - 18px);
}
a:hover {
  text-decoration: none;
}

.container {
  width: auto;
  max-width: 1140px;
  margin: 0 auto;
}

.editBtn {
  cursor: pointer;
}

